ai-agents/claude-web-research-agent.json
{
  "name": "Claude Web Research Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are an expert research assistant. When given a topic, produce a comprehensive, well-structured research summary with key findings, statistics, and actionable insights. Always cite your reasoning clearly.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Research this topic thoroughly and provide a detailed summary: {{ $json.body.topic }}\"\n    }\n  ]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "claude-research",
      "name": "Claude Research Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.content[0].type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-response",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "result", "name": "research_result", "value": "={{ $json.content[0].text }}", "type": "string" },
            { "id": "model", "name": "model_used", "value": "={{ $json.model }}", "type": "string" },
            { "id": "tokens", "name": "tokens_used", "value": "={{ $json.usage.output_tokens }}", "type": "number" },
            { "id": "status", "name": "status", "value": "success", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "webhook-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Claude Research Agent", "type": "main", "index": 0 }]]
    },
    "Claude Research Agent": {
      "main": [[{ "node": "Check Response", "type": "main", "index": 0 }]]
    },
    "Check Response": {
      "main": [
        [{ "node": "Format Result", "type": "main", "index": 0 }],
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Result": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateId": "claude-web-research-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-ai-automation-workflows"
  },
  "tags": [
    { "name": "ai-agent" },
    { "name": "claude" },
    { "name": "research" },
    { "name": "anthropic" }
  ]
}
