ai-agents/research-agent.json
{
  "name": "Multi-Step Research Agent (Claude)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] }
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.topic }}" },
            { "name": "api_key", "value": "YOUR_SERPAPI_KEY" },
            { "name": "num", "value": "10" }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Search Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.organic_results || [];\nconst snippets = results.slice(0, 5).map(r => `Title: ${r.title}\\nSnippet: ${r.snippet}`).join('\\n\\n');\nreturn [{ json: { snippets, topic: $('Weekly Trigger').item.json.topic } }];"
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Format Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=You are a research analyst. Based on the following search results about '{{ $json.topic }}', write a structured research report with:\n1. Executive Summary (2-3 sentences)\n2. Key Findings (5 bullet points)\n3. Actionable Insights (3 bullet points)\n\nSearch Results:\n{{ $json.snippets }}\n\nWrite a professional, concise report."
            }
          ]
        },
        "options": { "maxTokens": 1000, "temperature": 0.3 }
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Claude Research Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Research Reports" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Topic": "={{ $('Format Search Results').item.json.topic }}",
            "Report": "={{ $json.content[0].text }}"
          }
        }
      },
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Weekly Trigger": { "main": [[{ "node": "Search Web", "type": "main", "index": 0 }]] },
    "Search Web": { "main": [[{ "node": "Format Search Results", "type": "main", "index": 0 }]] },
    "Format Search Results": { "main": [[{ "node": "Claude Research Report", "type": "main", "index": 0 }]] },
    "Claude Research Report": { "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Weekly research agent: searches the web on a topic, feeds results to Claude (claude-3-5-sonnet), and saves a structured research report to Google Sheets.",
    "llm": "claude-3-5-sonnet-20241022",
    "author": "foryourselfsuryansh-cmd"
  }
}
