crm-automation/lead-pipeline.json
{
  "name": "Lead to CRM Pipeline (Claude Notes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "lastNode"
      },
      "id": "f6a7b8c9-0001-0001-0001-000000000001",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=You are a CRM assistant. Based on this new lead's information, write a brief CRM note (2-3 sentences) summarizing:\n1. Who this lead is\n2. Their likely need/pain point\n3. Recommended next action\n\nLead Info:\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nCompany: {{ $json.company }}\nSource: {{ $json.source }}\nMessage: {{ $json.message }}\n\nWrite the CRM note now."
            }
          ]
        },
        "options": { "maxTokens": 200, "temperature": 0.4 }
      },
      "id": "f6a7b8c9-0002-0002-0002-000000000002",
      "name": "Claude Generate CRM Note",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "anthropicApi": { "id": "YOUR_ANTHROPIC_CREDENTIAL_ID", "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "CRM" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Added": "={{ $now.format('yyyy-MM-dd') }}",
            "Name": "={{ $('New Lead Webhook').item.json.name }}",
            "Email": "={{ $('New Lead Webhook').item.json.email }}",
            "Company": "={{ $('New Lead Webhook').item.json.company }}",
            "Source": "={{ $('New Lead Webhook').item.json.source }}",
            "Status": "New",
            "CRM Note": "={{ $json.content[0].text }}",
            "Next Action": "Send intro email"
          }
        }
      },
      "id": "f6a7b8c9-0003-0003-0003-000000000003",
      "name": "Add to CRM Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"message\": \"Lead added to CRM\"}"
      },
      "id": "f6a7b8c9-0004-0004-0004-000000000004",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "New Lead Webhook": { "main": [[{ "node": "Claude Generate CRM Note", "type": "main", "index": 0 }]] },
    "Claude Generate CRM Note": { "main": [[{ "node": "Add to CRM Sheet", "type": "main", "index": 0 }]] },
    "Add to CRM Sheet": { "main": [[{ "node": "Return Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Receives new leads via webhook, uses Claude to auto-generate a CRM note with context and next actions, and adds the enriched lead to a Google Sheets CRM.",
    "llm": "claude-3-haiku-20240307",
    "author": "foryourselfsuryansh-cmd"
  }
}
