lead-generation/cold-outreach.json
{
  "name": "Claude Cold Outreach Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Leads" },
        "filtersUI": {
          "values": [{ "lookupColumn": "Status", "lookupValue": "New" }]
        }
      },
      "id": "c3d4e5f6-0001-0001-0001-000000000001",
      "name": "Get New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [240, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Write a short, personalized cold outreach email for the following lead. Keep it under 100 words. Do NOT use generic templates. Be specific, casual, and value-focused.\n\nLead Details:\n- Name: {{ $json['First Name'] }} {{ $json['Last Name'] }}\n- Company: {{ $json['Company'] }}\n- Title: {{ $json['Job Title'] }}\n- Industry: {{ $json['Industry'] }}\n\nOffer: AI automation workflows for business processes using n8n.\n\nWrite only the email body (no subject line)."
            }
          ]
        },
        "options": { "maxTokens": 200, "temperature": 0.8 }
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000002",
      "name": "Claude Write Email",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get New Leads').item.json['Email'] }}",
        "subject": "={{ 'Quick question for ' + $('Get New Leads').item.json['First Name'] }}",
        "message": "={{ $json.content[0].text }}",
        "options": { "senderName": "Suryansh" }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Leads" },
        "filtersUI": {
          "values": [{ "lookupColumn": "Email", "lookupValue": "={{ $('Get New Leads').item.json['Email'] }}" }]
        },
        "fieldsUi": {
          "values": [
            { "fieldId": "Status", "fieldValue": "Contacted" },
            { "fieldId": "Contacted Date", "fieldValue": "={{ $now.format('yyyy-MM-dd') }}" }
          ]
        }
      },
      "id": "c3d4e5f6-0004-0004-0004-000000000004",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Get New Leads": { "main": [[{ "node": "Claude Write Email", "type": "main", "index": 0 }]] },
    "Claude Write Email": { "main": [[{ "node": "Send Email via Gmail", "type": "main", "index": 0 }]] },
    "Send Email via Gmail": { "main": [[{ "node": "Update Lead Status", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Reads new leads from Google Sheets, uses Claude (claude-3-haiku) to write a personalized cold email for each lead, sends via Gmail, and updates the lead status to Contacted.",
    "llm": "claude-3-haiku-20240307",
    "author": "foryourselfsuryansh-cmd"
  }
}
